extends layout.pug

block content
	div.container.brand
		h1 
			a(href='/') URL Shortener

	div.container.view
		div.new-url
			if url
				h4 Shareble Link
				a(href=`/${id}`) http://#{hostname}/#{id}
				br
				p Copy this link and use it to nevigate to your specific website...
				
			if msg
				h3.err-msg #{msg}
		
		form(id='form',action='/',method='POST').form-control

			input(type='url', id='inpurl', name='url', placeholder='http://example.com/', required, autocomplete="off", autofocus)

			input(type='text', id='slug', name='slug', placeholder='Customize your URL')

			div.instruction
				p Type/paste your URL to get shortened
				p.inst-1 URL Should be formated like this 👉 " (https or http)://microsoft.com/ "			
			
			button#link-btn.btn(type='submit') Shorten the Link

	if(urls && (urls.length > 0))
		include ./urlList.pug
