doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='URL Shortener' description='Converts longer urls into tiny one.')

		link(rel="shortcut icon" type="image/x-icon" href="./favicon.ico")

		title URL_Shortener
		
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet")

		link(rel='stylesheet' type="text/css" href='./CSS/styles.css')

	body
		block content